In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.read_csv("final_holidays_data.csv", index_col = "Unnamed: 0")

In [5]:
data2 = pd.read_csv("final_holidays_data1.csv", index_col = "Unnamed: 0")

In [7]:
data3 = pd.read_csv("finals_weekends_weekdays.csv", index_col = "Unnamed: 0")

In [9]:
data4 = pd.read_csv("finals_weekends_weekdays1.csv", index_col = "Unnamed: 0")

In [11]:
data1

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class
0,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 10m,Direct,Business
1,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Business
2,"INR37,417.30",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Business
3,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business
4,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business
...,...,...,...,...,...,...,...,...
62,"INR7,049.26",IndiGo,CCU,GAU,26 Jan,22h 40m,1 stop,Economy
63,"INR7,369.52",Akasa Air,CCU,GAU,26 Jan,21h 50m,1 stop,Economy
64,"INR11,690.00",IndiGo,CCU,GAU,26 Jan,14h 25m,1 stop,Economy
65,"INR7,804.57",Air India,CCU,GAU,26 Jan,25h 50m,1 stop,Economy
66,"INR12,788.00",IndiGo,CCU,GAU,26 Jan,15h 10m,1 stop,Economy

In [13]:
data2

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class
0,"INR64,173.64",Air India,DEL,BOM,25 Dec,2h 20m,Cheapest direct,First
1,"INR257,611.94",Etihad Airways,DEL,BOM,25 Dec,22h 40m,Direct,First
2,"INR240,354.01",Etihad Airways,DEL,BOM,25 Dec,27h 05m,1 stop,First
3,"INR9,451.24",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Premium Economy
4,"INR11,702.96",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Premium Economy
...,...,...,...,...,...,...,...,...
29,"INR42,917.00",Air India,CCU,GAU,26 Jan,21h 15m,1 stop,Premium Economy
30,"INR43,057.00",Air India,CCU,GAU,26 Jan,21h 45m,1 stop,Premium Economy
31,"INR44,589.00",Air India,CCU,GAU,26 Jan,23h,1 stop,Premium Economy
32,"INR43,995.00",Air India,CCU,GAU,26 Jan,25h 30m,1 stop,Premium Economy
33,"INR45,675.00",Air India,CCU,GAU,26 Jan,26h 25m,1 stop,Premium Economy

In [15]:
data3

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class
0,"INR13,359.21",Air India,DEL,BOM,18 Dec,2h 25m,Cheapest direct,Economy
1,"INR9,227.00",Air India,DEL,BOM,18 Dec,10h,Direct,Economy
2,"INR22,825.78",Air India,DEL,BOM,18 Dec,2h 05m,1 stop,Economy
3,"INR14,202.03",IndiGo,DEL,BOM,18 Dec,2h 20m,Direct,Economy
4,"INR14,202.03",IndiGo,DEL,BOM,18 Dec,2h 20m,Direct,Economy
...,...,...,...,...,...,...,...,...
1986,"INR8,862.93",Akasa Air,CCU,GAU,9 Feb,5h 45m,1 stop,Economy
1987,"INR8,715.20",IndiGo,CCU,GAU,9 Feb,5h 55m,1 stop,Economy
1988,"INR7,414.09",IndiGo,CCU,GAU,9 Feb,8h 05m,1 stop,Economy
1989,"INR8,780.31",IndiGo,CCU,GAU,9 Feb,7h 30m,1 stop,Economy
1990,"INR9,698.30",IndiGo,CCU,GAU,9 Feb,7h 35m,1 stop,Economy

In [17]:
data4

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class
0,"INR17,368.24",Air India,DEL,BOM,18 Dec,2h 05m,Cheapest direct,Premium Economy
1,"INR13,968.99",Air India,DEL,BOM,18 Dec,14h 05m,Direct,Premium Economy
2,"INR17,452.24",Air India,DEL,BOM,18 Dec,2h 15m,1 stop,Premium Economy
3,"INR17,834.13",Air India,DEL,BOM,18 Dec,2h 20m,Direct,Premium Economy
4,"INR17,461.14",Air India,DEL,BOM,18 Dec,2h 25m,Direct,Premium Economy
...,...,...,...,...,...,...,...,...
1062,"INR22,384.00",Air India,CCU,GAU,9 Feb,20h 20m,1 stop,Premium Economy
1063,"INR19,497.00",Air India,CCU,GAU,9 Feb,25h 45m,1 stop,Premium Economy
1064,"INR42,707.00",Air India,CCU,GAU,9 Feb,11h,1 stop,Premium Economy
1065,"INR42,203.00",Air India,CCU,GAU,9 Feb,12h 55m,1 stop,Premium Economy
1066,"INR65,163.00",Air India,CCU,GAU,9 Feb,10h 25m,1 stop,Premium Economy

In [19]:
final_data = pd.concat([data1,data2,data3,data4],ignore_index=True)

In [21]:
final_data

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class
0,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 10m,Direct,Business
1,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Business
2,"INR37,417.30",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Business
3,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business
4,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business
...,...,...,...,...,...,...,...,...
4433,"INR22,384.00",Air India,CCU,GAU,9 Feb,20h 20m,1 stop,Premium Economy
4434,"INR19,497.00",Air India,CCU,GAU,9 Feb,25h 45m,1 stop,Premium Economy
4435,"INR42,707.00",Air India,CCU,GAU,9 Feb,11h,1 stop,Premium Economy
4436,"INR42,203.00",Air India,CCU,GAU,9 Feb,12h 55m,1 stop,Premium Economy
4437,"INR65,163.00",Air India,CCU,GAU,9 Feb,10h 25m,1 stop,Premium Economy

In [23]:
final_data["Booking Date"] = "16 Dec"
final_data

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class,Booking Date
0,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 10m,Direct,Business,16 Dec
1,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Business,16 Dec
2,"INR37,417.30",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Business,16 Dec
3,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
4,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
...,...,...,...,...,...,...,...,...,...
4433,"INR22,384.00",Air India,CCU,GAU,9 Feb,20h 20m,1 stop,Premium Economy,16 Dec
4434,"INR19,497.00",Air India,CCU,GAU,9 Feb,25h 45m,1 stop,Premium Economy,16 Dec
4435,"INR42,707.00",Air India,CCU,GAU,9 Feb,11h,1 stop,Premium Economy,16 Dec
4436,"INR42,203.00",Air India,CCU,GAU,9 Feb,12h 55m,1 stop,Premium Economy,16 Dec
4437,"INR65,163.00",Air India,CCU,GAU,9 Feb,10h 25m,1 stop,Premium Economy,16 Dec

In [25]:
final_data.to_csv("Final Data.csv")

# Simple EDA

In [28]:
final_data.shape

(4438, 9)

In [30]:
final_data.isnull().sum()

Price             0
Airline           0
Departure City    0
Arrival City      0
Travel Date       0
Duration          0
Stops             0
Cabin Class       0
Booking Date      0
dtype: int64

In [32]:
final_data.dtypes

Price             object
Airline           object
Departure City    object
Arrival City      object
Travel Date       object
Duration          object
Stops             object
Cabin Class       object
Booking Date      object
dtype: object

In [34]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4438 entries, 0 to 4437
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           4438 non-null   object
 1   Airline         4438 non-null   object
 2   Departure City  4438 non-null   object
 3   Arrival City    4438 non-null   object
 4   Travel Date     4438 non-null   object
 5   Duration        4438 non-null   object
 6   Stops           4438 non-null   object
 7   Cabin Class     4438 non-null   object
 8   Booking Date    4438 non-null   object
dtypes: object(9)
memory usage: 312.2+ KB

In [36]:
final_data[final_data.duplicated()]

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class,Booking Date
4,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
9,"INR37,423.53",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
10,"INR37,423.53",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
11,"INR37,423.53",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
12,"INR37,423.53",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
...,...,...,...,...,...,...,...,...,...
4231,"INR17,033.92",Air India,DEL,BLR,4 Jan,2h 50m,Direct,Premium Economy,16 Dec
4259,"INR10,341.99",Air India,DEL,BLR,8 Feb,2h 45m,Direct,Premium Economy,16 Dec
4260,"INR10,341.99",Air India,DEL,BLR,8 Feb,2h 45m,Direct,Premium Economy,16 Dec
4267,"INR11,144.69",Air India,DEL,BLR,8 Feb,2h 50m,Direct,Premium Economy,16 Dec
4276,"INR11,639.87",Air India,DEL,BLR,9 Feb,2h 45m,Direct,Premium Economy,16 Dec

# DATA CLEANING

In [39]:
final_data = final_data.copy()

#### Dropping Duplicates

In [42]:
final_data = final_data.drop_duplicates(ignore_index = True)

In [44]:
final_data

,Price,Airline,Departure City,Arrival City,Travel Date,Duration,Stops,Cabin Class,Booking Date
0,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 10m,Direct,Business,16 Dec
1,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Business,16 Dec
2,"INR37,417.30",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Business,16 Dec
3,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
4,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Direct,Business,16 Dec
...,...,...,...,...,...,...,...,...,...
3887,"INR22,384.00",Air India,CCU,GAU,9 Feb,20h 20m,1 stop,Premium Economy,16 Dec
3888,"INR19,497.00",Air India,CCU,GAU,9 Feb,25h 45m,1 stop,Premium Economy,16 Dec
3889,"INR42,707.00",Air India,CCU,GAU,9 Feb,11h,1 stop,Premium Economy,16 Dec
3890,"INR42,203.00",Air India,CCU,GAU,9 Feb,12h 55m,1 stop,Premium Economy,16 Dec
3891,"INR65,163.00",Air India,CCU,GAU,9 Feb,10h 25m,1 stop,Premium Economy,16 Dec

In [46]:
final_data.columns = ['price', 'airline_name', 'departure_city', 'arrival_city', 'travel_date','duration', 'stops', 'cabin_class', 'booking_date']

In [48]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date
0,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 10m,Direct,Business,16 Dec
1,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Cheapest direct,Business,16 Dec
2,"INR37,417.30",Air India,DEL,BOM,25 Dec,2h 05m,Direct,Business,16 Dec
3,"INR29,384.18",Air India,DEL,BOM,25 Dec,2h 15m,Direct,Business,16 Dec
4,"INR29,382.40",Air India,DEL,BOM,25 Dec,2h 25m,Direct,Business,16 Dec
...,...,...,...,...,...,...,...,...,...
3887,"INR22,384.00",Air India,CCU,GAU,9 Feb,20h 20m,1 stop,Premium Economy,16 Dec
3888,"INR19,497.00",Air India,CCU,GAU,9 Feb,25h 45m,1 stop,Premium Economy,16 Dec
3889,"INR42,707.00",Air India,CCU,GAU,9 Feb,11h,1 stop,Premium Economy,16 Dec
3890,"INR42,203.00",Air India,CCU,GAU,9 Feb,12h 55m,1 stop,Premium Economy,16 Dec
3891,"INR65,163.00",Air India,CCU,GAU,9 Feb,10h 25m,1 stop,Premium Economy,16 Dec

#### Price column cleaning

In [51]:
final_data["price"]

0       INR29,384.18
1       INR29,382.40
2       INR37,417.30
3       INR29,384.18
4       INR29,382.40
            ...
3887    INR22,384.00
3888    INR19,497.00
3889    INR42,707.00
3890    INR42,203.00
3891    INR65,163.00
Name: price, Length: 3892, dtype: object

In [53]:
final_data["price"] = final_data["price"].str.replace("INR","")

In [55]:
final_data["price"] = final_data["price"].str.replace(",","")

In [57]:
final_data["price"] = final_data["price"].astype(float)

In [59]:
final_data["price"]

0       29384.18
1       29382.40
2       37417.30
3       29384.18
4       29382.40
          ...
3887    22384.00
3888    19497.00
3889    42707.00
3890    42203.00
3891    65163.00
Name: price, Length: 3892, dtype: float64

#### depature city column cleaning

In [62]:
final_data["departure_city"].unique()

array(['DEL', 'BLR', 'MAA', 'BOM', 'CCU'], dtype=object)

In [64]:
final_data["departure_city"] = final_data["departure_city"].str.replace("DEL","Delhi").str.replace("CCU","Kolkata").str.replace("BLR","Banglore").str.replace("BOM","Mumbai").str.replace("MAA","Chennai")

In [66]:
final_data["departure_city"]

0         Delhi
1         Delhi
2         Delhi
3         Delhi
4         Delhi
         ...
3887    Kolkata
3888    Kolkata
3889    Kolkata
3890    Kolkata
3891    Kolkata
Name: departure_city, Length: 3892, dtype: object

In [68]:
final_data["departure_city"].unique()

array(['Delhi', 'Banglore', 'Chennai', 'Mumbai', 'Kolkata'], dtype=object)

#### Arrival city column cleaning

In [71]:
final_data["arrival_city"].unique()

array(['BOM', 'CCU', 'HYD', 'GOX', 'BLR', 'GAU'], dtype=object)

In [73]:
final_data["arrival_city"] = final_data["arrival_city"].str.replace("HYD","Hyderabad").str.replace("CCU","Kolkata").str.replace("BLR","Banglore").str.replace("BOM","Mumbai").str.replace("GAU","Guwahathi").str.replace("GOX","Goa")

In [75]:
final_data["arrival_city"]

0          Mumbai
1          Mumbai
2          Mumbai
3          Mumbai
4          Mumbai
          ...
3887    Guwahathi
3888    Guwahathi
3889    Guwahathi
3890    Guwahathi
3891    Guwahathi
Name: arrival_city, Length: 3892, dtype: object

In [77]:
final_data["arrival_city"].unique()

array(['Mumbai', 'Kolkata', 'Hyderabad', 'Goa', 'Banglore', 'Guwahathi'],
      dtype=object)

#### travel date cleaning

In [80]:
final_data["travel_date"]

0       25 Dec
1       25 Dec
2       25 Dec
3       25 Dec
4       25 Dec
         ...
3887     9 Feb
3888     9 Feb
3889     9 Feb
3890     9 Feb
3891     9 Feb
Name: travel_date, Length: 3892, dtype: object

In [82]:
def add_year(travel_date):
    month = pd.to_datetime(travel_date, format = "%d %b").month
    if month == 12:
        return f"{travel_date} 2024"
    else:
        return f"{travel_date} 2025"

In [84]:
final_data["travel_date"] = final_data["travel_date"].apply(add_year)

In [85]:
final_data["travel_date"] = pd.to_datetime(final_data["travel_date"])
final_data["travel_date"]

0      2024-12-25
1      2024-12-25
2      2024-12-25
3      2024-12-25
4      2024-12-25
          ...
3887   2025-02-09
3888   2025-02-09
3889   2025-02-09
3890   2025-02-09
3891   2025-02-09
Name: travel_date, Length: 3892, dtype: datetime64[ns]

In [88]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 10m,Direct,Business,16 Dec
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Cheapest direct,Business,16 Dec
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,2h 05m,Direct,Business,16 Dec
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 15m,Direct,Business,16 Dec
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Direct,Business,16 Dec
...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,20h 20m,1 stop,Premium Economy,16 Dec
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,25h 45m,1 stop,Premium Economy,16 Dec
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,11h,1 stop,Premium Economy,16 Dec
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,12h 55m,1 stop,Premium Economy,16 Dec
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,10h 25m,1 stop,Premium Economy,16 Dec

#### Booking Date cleaning

In [91]:
final_data["booking_date"] = final_data["booking_date"].apply(add_year)

In [92]:
final_data["booking_date"] = pd.to_datetime(final_data["booking_date"])
final_data["booking_date"]

0      2024-12-16
1      2024-12-16
2      2024-12-16
3      2024-12-16
4      2024-12-16
          ...
3887   2024-12-16
3888   2024-12-16
3889   2024-12-16
3890   2024-12-16
3891   2024-12-16
Name: booking_date, Length: 3892, dtype: datetime64[ns]

In [95]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 10m,Direct,Business,2024-12-16
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Cheapest direct,Business,2024-12-16
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,2h 05m,Direct,Business,2024-12-16
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 15m,Direct,Business,2024-12-16
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Direct,Business,2024-12-16
...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,20h 20m,1 stop,Premium Economy,2024-12-16
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,25h 45m,1 stop,Premium Economy,2024-12-16
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,11h,1 stop,Premium Economy,2024-12-16
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,12h 55m,1 stop,Premium Economy,2024-12-16
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,10h 25m,1 stop,Premium Economy,2024-12-16

In [97]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           3892 non-null   float64
 1   airline_name    3892 non-null   object
 2   departure_city  3892 non-null   object
 3   arrival_city    3892 non-null   object
 4   travel_date     3892 non-null   datetime64[ns]
 5   duration        3892 non-null   object
 6   stops           3892 non-null   object
 7   cabin_class     3892 non-null   object
 8   booking_date    3892 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 273.8+ KB

### Calculating difference between travel_date and booking_date

In [100]:
final_data["days_until_travel"] = (final_data["travel_date"] - final_data["booking_date"]).dt.days

final_data

In [104]:
def booking_type(days_until_travel):
    if days_until_travel <= 7:
        return "Last-minute" 
    elif days_until_travel > 7 and days_until_travel <=30:
        return "Moderate"
    else:
        return "Advanced"

In [106]:
final_data["booking_type"] = final_data["days_until_travel"].apply(booking_type)

In [108]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date,days_until_travel,booking_type
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 10m,Direct,Business,2024-12-16,9,Moderate
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Cheapest direct,Business,2024-12-16,9,Moderate
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,2h 05m,Direct,Business,2024-12-16,9,Moderate
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 15m,Direct,Business,2024-12-16,9,Moderate
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Direct,Business,2024-12-16,9,Moderate
...,...,...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,20h 20m,1 stop,Premium Economy,2024-12-16,55,Advanced
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,25h 45m,1 stop,Premium Economy,2024-12-16,55,Advanced
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,11h,1 stop,Premium Economy,2024-12-16,55,Advanced
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,12h 55m,1 stop,Premium Economy,2024-12-16,55,Advanced
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,10h 25m,1 stop,Premium Economy,2024-12-16,55,Advanced

In [110]:
holidays = ['2024-12-25', '2025-01-01', '2025-01-26']
holidays = pd.to_datetime(holidays)
def travel_type(travel_date):
    if travel_date in holidays:
        return 'Holiday'
    elif travel_date.weekday() >= 5:
        return 'Weekend'
    else:
        return 'Weekday'

In [112]:
final_data["travel_type"] = final_data["travel_date"].apply(travel_type)

In [114]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date,days_until_travel,booking_type,travel_type
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 10m,Direct,Business,2024-12-16,9,Moderate,Holiday
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Cheapest direct,Business,2024-12-16,9,Moderate,Holiday
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,2h 05m,Direct,Business,2024-12-16,9,Moderate,Holiday
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,2h 15m,Direct,Business,2024-12-16,9,Moderate,Holiday
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,2h 25m,Direct,Business,2024-12-16,9,Moderate,Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,20h 20m,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,25h 45m,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,11h,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,12h 55m,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,10h 25m,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend

#### Duration column cleaning

In [118]:
final_data["duration"]

0        2h 10m
1        2h 25m
2        2h 05m
3        2h 15m
4        2h 25m
         ...
3887    20h 20m
3888    25h 45m
3889        11h
3890    12h 55m
3891    10h 25m
Name: duration, Length: 3892, dtype: object

In [137]:
def convert_to_minutes(duration):
    hours = int(duration.split('h')[0]) if 'h' in duration else 0
    minutes = int(duration.split('h')[-1].replace('m', '').strip()) if 'm' in duration else 0
    return hours * 60 + minutes

In [139]:
final_data["duration"] = final_data["duration"].apply(convert_to_minutes)

In [159]:
final_data["duration"].astype(int)

0        130
1        145
2        125
3        135
4        145
        ...
3887    1220
3888    1545
3889     660
3890     775
3891     625
Name: duration, Length: 3892, dtype: int32

In [161]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date,days_until_travel,booking_type,travel_type
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,130,Direct,Business,2024-12-16,9,Moderate,Holiday
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,145,Direct,Business,2024-12-16,9,Moderate,Holiday
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,125,Direct,Business,2024-12-16,9,Moderate,Holiday
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,135,Direct,Business,2024-12-16,9,Moderate,Holiday
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,145,Direct,Business,2024-12-16,9,Moderate,Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,1220,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,1545,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,660,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,775,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,625,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend

In [163]:
final_data["cabin_class"].unique()

array(['Business', 'Economy', 'First', 'Premium Economy'], dtype=object)

In [165]:
final_data["stops"] = final_data["stops"].str.replace('Cheapest direct','Direct')

In [167]:
final_data

,price,airline_name,departure_city,arrival_city,travel_date,duration,stops,cabin_class,booking_date,days_until_travel,booking_type,travel_type
0,29384.18,Air India,Delhi,Mumbai,2024-12-25,130,Direct,Business,2024-12-16,9,Moderate,Holiday
1,29382.40,Air India,Delhi,Mumbai,2024-12-25,145,Direct,Business,2024-12-16,9,Moderate,Holiday
2,37417.30,Air India,Delhi,Mumbai,2024-12-25,125,Direct,Business,2024-12-16,9,Moderate,Holiday
3,29384.18,Air India,Delhi,Mumbai,2024-12-25,135,Direct,Business,2024-12-16,9,Moderate,Holiday
4,29382.40,Air India,Delhi,Mumbai,2024-12-25,145,Direct,Business,2024-12-16,9,Moderate,Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...
3887,22384.00,Air India,Kolkata,Guwahathi,2025-02-09,1220,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3888,19497.00,Air India,Kolkata,Guwahathi,2025-02-09,1545,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3889,42707.00,Air India,Kolkata,Guwahathi,2025-02-09,660,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3890,42203.00,Air India,Kolkata,Guwahathi,2025-02-09,775,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend
3891,65163.00,Air India,Kolkata,Guwahathi,2025-02-09,625,1 stop,Premium Economy,2024-12-16,55,Advanced,Weekend

In [169]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              3892 non-null   float64
 1   airline_name       3892 non-null   object
 2   departure_city     3892 non-null   object
 3   arrival_city       3892 non-null   object
 4   travel_date        3892 non-null   datetime64[ns]
 5   duration           3892 non-null   int64
 6   stops              3892 non-null   object
 7   cabin_class        3892 non-null   object
 8   booking_date       3892 non-null   datetime64[ns]
 9   days_until_travel  3892 non-null   int64
 10  booking_type       3892 non-null   object
 11  travel_type        3892 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 365.0+ KB

In [173]:
final_data.to_csv("Cleaned Data.csv")

In [177]:
final_data.describe(include="number")

               price     duration  days_until_travel
count    3892.000000  3892.000000        3892.000000
mean    30434.573099   425.412384          24.342497
std     29713.645818   362.888379          18.421048
min      2682.000000    70.000000           2.000000
25%     10554.100000   155.000000           9.000000
50%     19105.110000   345.000000          19.000000
75%     40541.565000   525.000000          41.000000
max    291560.990000  1750.000000          55.000000